*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}



/* .nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #E83C38;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 5rem;
    padding-left: 450px;
    
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
} */

/* #nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
} */

/*Apply styles after scroll*/
/* .scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
} */

/*Apply styles after scroll end*/

body{
    background: #E3E0F3;
    width: 100%;
    /* overflow: hidden; */
}


.content1 span{
    font-family: 'Sora', sans-serif;
    font-weight: 1000;
    font-size: 12rem;
}

.blogopener{
    z-index: -999;
    /* background-color: #E83C38; */
}

.blogopener h1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}

.nav_container{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    padding: 2vw 9vw 3.5vw 4.5vw;
    box-sizing: border-box;
    color: #E83C38;
    position: relative; 
}

.nav_container .row{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
}

.logo{
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 100px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

header.sidenav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* margin-left: 200px; */
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


header nav ul li{

    padding: 10px 15px;
    text-transform: uppercase;
    color: #E83C38;
    font-size: 12px;
    font-family: 'Quattrocento', serif;
    letter-spacing: 1px;
    cursor: pointer;
	border: 1px solid transparent;
	transition: 400ms ease;
	border-radius: 10px;
}
header nav ul li:hover{
    background-color: #676FA3 ;
	color: white;
	border-radius: 20px;
}
header nav ul li + li{
    margin-left: 25px;
}


/* Hero Demo Content*/
.hero{
    /* width: 100%; */
    height: 100%;
    /* background: white; */
    /* background-size: cover; */
    position: relative;
}

.hero .hero_img{
    position: absolute;
    width: 51vw;
    /* left: 55%; */
    bottom: -5vw;   
    z-index: 8;
    padding-left: 70%;
    padding-bottom: 100px;
    transform: translateX(-50%);
}

.hero .hero_img img{
    width: 100%;   
}

.hero .cap_item{
    height: 100%;
    position: relative;
    bottom: -10vw;
    left: -5vw;
    transform: rotate(11deg);
    /* background-color: #CDDEFF; */ 
}

.hero .cap_item .cap{
    width: 18vw;
    height: 65vw;
    position: absolute;
    bottom: 0;
    left: 20%;
    border-radius: 700px;
    /* background-color: #CDDEFF; */
}

.hero .cap_item .cap.blue_{
    background-color: #EEF2FF;
    height: 44vw;
    left: 26%;
    z-index: 3;
    transform: rotate(30deg);
    transform-origin: bottom center;
}
.hero .cap_item .cap.purple_{
    background-color: #676FA3;
    width: 24vw;
    z-index: 4;
    transform: rotate(45deg);
    transform-origin: bottom center;
}
.hero .cap_item .cap.lite_{
    background-color: #CDDEFF;
    left: 26%;
    width: 24vw;
    z-index: 2;
    transform: rotate(50deg);
    transform-origin: bottom center;
}
.hero .cap_item .cap.dark_{
    background-color: #1f1329a2;
    height: 70vw;
    width: 24vw;
    left: 14vw;
    z-index: 1;
    transform: rotate(64deg);
    transform-origin: bottom center;
}

.content1{
    position: absolute;
    left: 7.5vw;
    top: 50%;
    transform: translateY(-50%);
}

.content1 span{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 15px;
}

.content1 h1{
    font-family: 'Sora', sans-serif !important;
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    color: #676FA3;
}

.content1 h4{
    font-family: 'Quattrocento', serif;
    font-size: 3.5vw;
    font-weight: 200;
    text-transform: uppercase;
}

.content1 p{
    font-family: 'Quattrocento', serif;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 20px;
}

.content1 .cta{
    font-family: 'Quattrocento', serif;
    display: flex;
    align-items: center;
    color: #676FA3;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1.2rem;
    letter-spacing: 2px;
    position: relative;
}

.indicator{
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.indicator span{
    z-index: 12;
    width: 20px;
    height: 3px;
    margin-right: auto;
    background-color: #E83C38;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 99em;
}

.indicator span+span{
    margin-top: 10px;
}

.indicator span:hover{
    background-color: #676FA3;
    width: 30px;  
}

.side_navbar .mobile_nav, .side_navbar .mobile_nav .nav_2, .side_navbar .social{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.side_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 5vw;
    height: 100%;
    position: absolute;
    border-left: 1px solid #E83C38;
    padding-bottom: 25vw;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
}

.side_navbar .mobile_nav{
    width: 100%;
    height: 6vw;
    background-color: #E83C38;
}

.side_navbar .mobile_nav .nav_2{
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
    width: 20px;
    cursor: pointer;
}

.side_navbar .mobile_nav .nav_2 img{
    /* font-size: 24px; */
    color: white;
}

.side_navbar .social{
    transform: rotate(90deg);
    position: relative;
}

.side_navbar .social span+span{
    margin-left: 35px;
}

.side_navbar .social span{
    font-size: 10px;
    color: #E83C38;
    text-transform: uppercase;
}



/* .wrapper{
    display: inline-flex;
}

.wrapper .static-txt{
    font-size: 60px;
    color: #E83C38;
}

.wrapper .dynamic-txts{
    line-height: 90px;
    margin-left: 1rem;
    background: orangered;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    font-size:70px;
    position: relative;
    font-weight: 500;
    color:#E83C38;

}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #E3E0F3;
    border-left: 2px solid #E83C38;
    animation: typing 2s steps(10) infinite;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100%+30px);
    }
    100%{
        left: 0;
    }
} */


.wrapper{
    /* background-color: #151515; */
    height: 20vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dynamic-txts{
    /* width: 17ch; */
    height: 90px;
    line-height: 90px;
    animation: typing 2.3s steps(29) infinite, blink 0.5s step-end infinite, ease-out;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-size: 3em;
}

.dynamic-txts .li1{
    width: 15ch;
}
.dynamic-txts .li2{
    width: 15ch;
}
.dynamic-txts .li3{
    width: 11ch;
}
.dynamic-txts .li4{
    width: 11ch;
}

.dynamic-txts li{
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 9.2s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -360px
    }
}



@keyframes typing{
    from{
        width: 0;
    }
    80%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}
/* Hero end*/


/* BLOG Section */
.blog{
    text-align: center;
    color: black;
    height: 100vh;
    
    display: flex;
    justify-content: space-around;
	position: relative;
	flex-direction: column;
	align-items: center;
	align-items: center;
}

.blog h1{
    transition: opacity 5s linear 5s;
}

/* BLOG Post */

.content{
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    /* margin-top: 200px; */
}
.services{
    height: 400px;
    width: 35%;
    margin: 2.5%;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    animation: opacity 1.4s ease;
}
.img{
    text-align: center;
}
.img img{
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 20px;
    border-radius: 30%;
    padding: 10px;
    border: 0px solid #676FA3;
    background: #676FA3;
    box-shadow: 0px 0px 0px #676FA3;
    height: 100px;
    transition: all .8s ease;
}

.services:hover .img img{
    box-shadow: 0px 0px 0px 400px #676FA3;
}
.description{
    color: black;
    position: relative;
    display: inline-block;
    z-index: 2;
    transition: 400ms ease;
}

.description h2{
    font-family: 'Sora', sans-serif;
    padding: 10px;
    margin: 5px;
    font-weight: 500;
    font-size: 25px;
}
.description p{
    font-family: 'Sora', sans-serif;
    width: 300px;
    font-weight: 400;
    font-size: 16px;
}